<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" sizes="256x256" href="index.png">
    <!-- manifest -->
    <link rel="manifest" href="manifest.json" />
    <!-- preloads -->
    <link rel="preload" href="./assets/fonts/CircularStd-Book.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="./assets/fonts/CircularStd-Bold.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="./assets/fonts/CircularStd-Black.woff" as="font" type="font/woff" crossorigin>
    <!-- styles -->
    <link rel="stylesheet" href="./index.css">
    <!-- libraries -->
    <script src="./assets/libraries/vue.min.js"></script>
    <script src="./assets/libraries/model-viewer.min.js"></script>
    <!-- scripts -->
    <script src="./index.js" defer></script>
    <!-- page title -->
    <title>Desert Hope</title>
    <script>
        // localStorage.clear()
        window.onerror = function () {
            alert(1)
        }
    </script>
</head>

<body>
    <div id="app">

        <!-- explore page -->
        <div class="page explore">
            <!-- ribbon -->
            <div class="explore-ribbon">
                <div class="explore-ribbon-find"></div>
                <div class="explore-ribbon-cart">
                    <div class="ribbon-cart"
                        :count="cart_count"
                        @click="navigate('cart')">
                    </div>
                </div>
            </div>
            <!-- tagged groups -->
            <div class="explore-tags">
                <!-- tags tabs -->
                <div class="explore-tags-tabs">
                    <div class="explore-tags-tab"
                        :active="explore.tag_id === 'popular'"
                        @click="explore.tag_id = 'popular'">
                        Popular
                    </div>
                    <div class="explore-tags-tab"
                        :active="explore.tag_id === 'newest'"
                        @click="explore.tag_id = 'newest'">
                        Newest
                    </div>
                    <div class="explore-tags-tab"
                        :active="explore.tag_id === 'trending'"
                        @click="explore.tag_id = 'trending'">
                        Trending
                    </div>
                </div>
                <!-- tags content -->
                <div class="explore-tags-content">
                    <div class="explore-tags-content-inner">
                        <div class="explore-tags-item"
                            v-for="item in explore.tags[explore.tag_id]"
                            @click="navigate('product', item.id + ':' + item.types[0].id)">
                            <div class="tags-item-image"
                                :style="{ backgroundImage: `url(${item.image})` }">
                            </div>
                            <div class="tags-item-info">
                                <div class="tags-item-name">
                                    {{item.name}}
                                </div>
                                <div class="tags-item-category">
                                    {{item.category.name}}
                                </div>
                                <div class="tags-item-price">
                                    {{item.types[0].price}} LKR
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- categories -->
            <div class="explore-categories">
                
            </div>
        </div>

        <!-- product page -->
        <div class="page product" :active="page === 'product' || page === 'reality' || page === 'cart'">
            <!-- ribbon -->
            <div class="ribbon" :solid="ribbon.solid">
                <div class="ribbon-back" @click="back"></div>
                <div class="ribbon-cart"
                    :count="cart_count"
                    @click="navigate('cart')">
                </div>
            </div>
            <div class="product-inner" @scroll="updateScroll">
                <!-- images slider -->
                <div class="product-sliders">
                    <div class="product-slider-tray">
                        <div class="product-slider-tray-inner"
                            :index="product_data.types.indexOf(product_type)"
                            :style="{ width: `calc(${product_data.types.length} * 100vw)` }">
                            <div class="product-slider"
                                v-for="type in product_data.types"
                                :style="{ backgroundImage: `url(${type.image})` }">
                            </div>
                        </div>
                    </div>
                    <div class="product-slider-dots">
                        <div class="product-slider-dots-inner">
                            <div class="product-slider-dot"
                                v-for="type in product_data.types"
                                :active="type.id === product.type_id"
                                @click="product.type_id = type.id">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- product content -->
                <div class="product-content">
                    <div class="product-header">
                        <!-- price -->
                        <div class="price">
                            {{ product_type.price }} LKR
                        </div>
                        <!-- likes -->
                        <div class="heart" :active="product_like"
                            @click="likeProduct(product.item_id, product.type_id)">
                        </div>
                        <!-- ar button -->
                        <div class="reality"
                            @click="navigate('reality', product.type_id)">
                        </div>
                    </div>
                    <!-- product name -->
                    <div class="product-title">
                        {{ product_data.name }}
                    </div>
                    <!-- product type buttons -->
                    <div class="product-types">
                        <div class="product-type"
                            v-for="type in product_data.types"
                            :active="type.id === product.type_id"
                            @click="product.type_id = type.id">
                            {{ type.name }}
                        </div>
                    </div>
                    <!-- content tab buttons -->
                    <div class="product-tabs">
                        <div class="product-tab"
                            :active="product.tab === 'details'"
                            @click="product.tab = 'details'">
                            Details
                        </div>
                        <div class="product-tab"
                            :active="product.tab === 'packaging'"
                            @click="product.tab = 'packaging'">
                            Packaging
                        </div>
                    </div>
                    <!-- product details tab -->
                    <div class="product-details"
                        v-if="product.tab === 'details'">
                        <div class="product-details-data"
                            v-for="data in product_data.details">
                            {{ data }}
                        </div>
                    </div>
                    <!-- product packaging tab -->
                    <div class="product-packaging"
                        v-if="product.tab === 'packaging'">
                        <div class="product-packaging-data"
                            v-for="data in product_data.packaging">
                            <div class="product-packaging-data-label">
                                {{ data.label }}
                            </div>
                            <div class="product-packaging-data-value">
                                {{ data.value }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- add to cart button -->
            <div class="product-cart">
                <button class="product-cart-button"
                    :disabled="!product_type.available"
                    @click="addToCart(product.item_id, product.type_id)">
                    {{ product_type.available ? 'Add to Cart' : 'Out of Stock' }}
                </button>
            </div>
        </div>

        <!-- product page -->
        <div class="page cart" :active="page === 'cart'">
            <button @click="back">BACK</button>
            CART
        </div>

        <!-- reality page -->
        <div class="page reality" :active="page === 'reality'">
            <div class="reality-outer" v-if="page === 'reality'">
                <model-viewer
                    alt="Location Model"
                    ar
                    :src="reality.model"
                    ar-modes="webxr scene-viewer quick-look"
                    seamless-poster
                    shadow-intensity="1"
                    camera-controls
                ></model-viewer>
            </div>
        </div>

    </div>
</body>

</html>